<div class="content-container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
      <div class="content claims">
        <p>the_<span class="brand">Other</span> is for everyone who feels othered or other</p>
        <p>the_<span class="brand">Other</span> acts as an alternative, other space</p>
        <p>the_<span class="brand">Other</span>  is a fearless, honest, unapologetic and participative endeavour</p>
        <p>the_<span class="brand">Other</span> speaks in an open-ended, other dialect</p>
        <p>the_<span class="brand">Other</span> is non-conformist, revolutionary, out-spoken and independent</p>
      </div>

      <div class="content">
        <p>
          the_Other is a zine and collaborative platform to un:learn re:think, re:imagine knowledge production and the political through lived experiences & the emotive. 
          For the time being, this website is still under construction. For more information follow us on Instagram or Twitter (@the_otherzine) or write to <span style="font-weight: bold">contact@theotherzine.com</span>. If you like, you can submit your e-mail address below and you will be notified once the website is fully online.
        </p>
      </div>



      <div class="content">
        <p>
          Currently, the_Other is working on our first issue and is calling for contributions on the first topic: L O N E L I E N E S S.
        </p>
      </div>


      <div class="content">
        <p>
          If you are interested and want to know more about it and the submissions guidelines you can e-mail: <span style="font-weight: bold">submissions@theotherzine.com</span>
        </p>
      </div>
  </div>
</div>

