
<div class="row justify-content-md-end">
    <div class="col-lg-10 d-flex justify-content-end">
      <img src="https://i.ibb.co/Lxqpn4b/logo.png"/>
    </div>
  </div>

<div class="content-container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
      <div class="content claims">
        <p>the_<span class="brand">Other</span> is for everyone who feels othered or other</p>
        <p>the_<span class="brand">Other</span> acts as an alternative, other space</p>
        <p>the_<span class="brand">Other</span>  is a fearless, honest, unapologetic and participative endeavour</p>
        <p>the_<span class="brand">Other</span> speaks in an open-ended, other dialect</p>
        <p>the_<span class="brand">Other</span> is non-conformist, revolutionary, out-spoken and independent</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-lg-10">

      <div class="content">
        <p>
          the_<span class="brand">Other</span> is a zine and collaborative platform to un:learn re:think, re:imagine knowledge production and the political through lived experiences & the emotive. 
          For the time being, this website is still under construction. For more information follow us on <a href="https://www.instagram.com/the_otherzine/?hl=en">Instagram</a>
           or <a href="https://twitter.com/the_otherzine">Twitter</a> or write to <span style="font-weight: bold">contact@theotherzine.com</span>.
        </p>
      </div>

      <div class="content">
        <p>
          Currently, the_<span class="brand">Other</span> is working on our first issue and is calling for contributions on the first topic: L O N E L I E N E S S.
        </p>
      </div>

      <div class="content">
        <p>
          If you are interested and want to know more about it and the submissions guidelines you can e-mail: <span style="font-weight: bold">submissions@theotherzine.com</span>
        </p>
      </div>
    </div>
  </div>
  </div>
</div>

